body {
  background-image: url('img/gray_jean.png');
  background-repeat: repeat;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 800px;
}

.page-header {
  padding: 3px 0px 0px 10px;
  background-color: #FFFFFF;
}

.content {
  background-image: url('img/linedpaper.png');
  background-repeat: repeat;
  padding: 10px 30px 10px 30px;
  text-align: justify;
}

.content .page-header {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.6);
}

.content .page-header h1 {
  font-size: 2.3em;
}

.content .page-header h1 small {
  font-size: 0.5em;
}

.content {
  padding-bottom: 2em;
}

#post-navigation {
  padding-top: 1.5em;
}

#prev-post-link {
  float: left;
}

#next-post-link {
  float: right;
}

#archive-list {
  list-style-type: none;
}

#archive-item-detail {
  padding-left: 1em;
}

