html,body {
	margin : 0;
	padding : 0;
	height : 100%; /* needed for container min-height */

	background-image : url('images/ravenna.png');
	background-repeat : repeat;
}

div#container {
	position : relative; /* needed for footer positioning*/
	margin : 0 auto; /* center */
	width : 850px;
	height : auto !important;
	height : 100%; /* IE6 */
	min-height : 100%;
	margin-top : 10px;
}

div#header {
	background : #FFFFFF;
	padding : 1em 1em 1em 1em;
	margin-bottom : 10px;
}

div#header h1 {
	margin-top : 0;
	margin-bottom : 0;
	margin-left: 0.5em;
	padding-bottom : 0;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size : 30pt;
}

div#header h1:first-letter {
	font-size : 2em;
	position : relative;
}

div#header h2 {
	font-size : 13pt;
	margin-top : 0;
	padding-top : 0;
	padding-left : 5em;
}

div#navbar ul {
	width : 30%;
	float : right;
	margin : 0.5em 1.7em 3em 0.5em;
	padding : 0;
	list-style : none;
}

div#navbar li {float : right;}

div#navbar a {
	display : block;
	padding : 8px 15px;
	font-weight : bold;
	border-top : 1px solid #5C5C5C;
}

a {text-decoration : none;}
a:link {color : #3C3C3C;}
a:visited {color : #3C3C3C;}
a:hover {color : #8C8C8C;}
a:active {color : #3C3C3C;}

div#content {
	background : #FFFFFF;
	padding-top : 1em;
	padding-bottom : 1.5em;
	margin-bottom : 1.5em;
}

div#content h1 {
	padding-left : 0.5em;
	padding-bottom : 0;
	margin-bottom : 0;
}

div#content h2 {padding-left : 1em;}

div#content div#postdate {
	font-size : 10pt;
	margin-top : 0;
	padding-top : 0;
	margin-left : 1.5em;
}

div#content p {
	padding-left : 2em;
	padding-right : 2em;
	text-align : justify;
	font-size : 12pt;
	font-family : Tahoma, Verdana, Segoe, sans-serif;
}

div#content a#prevPost {
	padding-left: 1em;
	float : left;
}

div#content a#nextPost {
	padding-right : 1em;
	float : right;
}

div#content ul#archiveList a {font-size : 15pt;}

div#content ul#archiveList div#entryDetail {
	display : inline;
	font-size : 13pt;
}

div#footer {
	position : absolute;
	font-size : 11pt;
	background : #FFFFFF;
	width : 100%;
	bottom : 0; /* stick to bottom */
	text-align : center;
	margin : 0 auto;
}

div#footer ul#extlinks {
	width : 100%;
	list-style : none;
	padding : 0;
	margin : 0;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
}

div#footer ul#extlinks li {display : inline;}

div#footer ul#extlinks a {
	display : inline;
	padding : 8px 15px;
}

div#header h1 a {text-decoration : none;}
div#header h1 a:link {color : #000000;}
div#header h1 a:visited {color : #000000;}
div#header h1 a:hover {color : #000000;}
div#header h1 a:active {color : #000000;}

/* Rounded corners to every div with the class 'roundCorners' */
.roundCorners{
	-moz-border-radius : 25px; /* Firefox */
	-webkit-border-radius : 25px; /* Chrome/Safari */
	-khtml-border-radius : 25px; /* Konquerer */
	border-radius : 25px;
}

/* Only round top corners of footer */
div#footer.roundCorners{
	-moz-border-radius : 30px 30px 5px 5px; /* Firefox */
	-webkit-border-radius : 30px 30px 5px 5px; /* Chrome/Safari */
	-khtml-border-radius : 30px 30px 5px 5px; /* Konquerer */
	border-radius : 30px 30px 5px 5px;
}

