<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Malformed Bits - Let's just pretend this is a clever tagline.</a>
  </div>
  <div class="navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
      <li>
        <a class="hidden-xs" href="/" title="Posts">Posts</a>
      </li>
      <li>
        <a class="hidden-xs" title="Projects" href="/projects.html">Projects</a>
      </li>
      <li>
        <a class="hidden-xs" title="About" href="/about.html">About</a>
      </li>
    </ul>
  </div>
</nav>
