<html>
<head>
	<title>Malformed Bits - Learning stuff, bit by bit.</title>
	<link rel="stylesheet" href="/style/theme.css" />
</head>

<body>
	<div id="container">
		<div id="navbar">
			<ul>
				<li><a id="navabout" href="/about/">about</a></li>
				<li><a id="navprojects" href="/projects/">projects</a></li>
				<li><a id="navblog" href="/">blog</a></li>
			</ul>
		</div>
		<div id="header" class="roundCorners">
			<h1><a href="/">Malformed Bits</a></h1>
			<h2>(I'm more charismatic in text.)</h2>
		</div>

		<div id="content" class="roundCorners">
			{{ content }}
		</div>

		<div>&nbsp;</div>
		<div id="footer" class="roundCorners">
			<ul id="extlinks">
				<li><a href="https://github.com/zandomatter">github</a></li>
				<li><a href="https://bitbucket.org/zandomatter/">bitbucket</a></li>
				<li><a href="/archive/">archive</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
