<html>
<head>
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>Malformed Bits - Learning stuff, bit by bit.</title>
</head>

<body>
	<div class="container">
		{% include page_header.html %}

		<div class="content">
			<h1><a href="{{ page.url }}">{{ page.title }}</a>
				{% if page.date %}
					<small>[{{ page.date | date: "%d %B %Y" }}]</small>
				{% endif %}
			</h1>

			{{ content }}

			<div id="post-navigation">
				{% if page.previous.url %}
					<a id="prev-post-link" class="btn btn-info btn-mini" href="{{ page.previous.url }}" ><i class="icon-white icon-chevron-left"></i> {{ page.previous.title }}</a>
				{% endif %}
				{% if page.next.url %}
					<a id="next-post-link" class="btn btn-info btn-mini" href="{{ page.next.url }}" >{{ page.next.title }} <i class="icon-white icon-chevron-right"></i></a>
				{% endif %}
			</div>

		</div>
	</div>
</body>
</html>

